.header {
  margin: 0;
  padding: 10px;
  height: 600px;
  padding-top: 30px;
}
.hi {
  font-family: inherit;
  font-size: 35px;
  font-weight: 400;
  padding-left: 100px;
  line-height: 100%;
}
.profile {
  padding-right: 90px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.almila {
  text-align: left;
  font-size: 42px;
  font-family: inherit;
  line-height: 64px;
  width: 666px;
  font-weight: 500;
}
.profileimg {
  width: 341px;
  height: 341px;
  border-radius: 22px;
  box-shadow: -20px -20px #ea2678;
}
.icon {
  display: flex;
  gap: 10px;
  padding-left: 100px;
}
.icon img {
  width: 34px;
  height: 36px;
}
.icongroup p {
  color: black;
  width: 650px;
  font-size: 18px;
  padding-bottom: 94px;
  font-family: inherit;
  line-height: 32px;
  text-align: justify;
  padding-left: 100px;
}
p span {
  color: #ea2678;
}
.icongroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1100px) {
  body {
    height: 500px;
  }
  .hi {
    font-size: 30px;
    padding-left: 60px;
  }
  .profile {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .almila {
    width: 400px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
  }
  .almila-pink {
    margin-left: 0px;
    margin-top: -20px;
    width: 100px;
    height: 25px;
  }
  .sag-pink{
    width: 80px;
    height: 40px;
    margin-bottom: 90px;
  }
  .gri-daire{
    width: 90px;
    height: 90px;
  }
  .profileimg {
    width: 250px;
    height: 250px;
  }
  .icon img {
    width: 30px;
    height: 30px;
    margin-top: 25px;
  }
  .icongroup p {  
    width: 650px;
    font-size: 14px; 
  }
  .icongroup {
    margin-left: -70px;
  }
}

@media (max-width: 700px) {
  body {
    height: 400px;
  }
  .hi {
    text-align: center;
    font-size: 25px;
    padding-left: 60px;
  }
  .profile {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .almila {
    width: 350px;
    text-align: center;
    font-size: 22px;
    line-height: 35px;
  }
  .almila-pink {
    width: 80px;
    height: 15px;
  }
  .sag-pink{
    width: 60px;
    height: 30px;
    margin-bottom: 100px;
  }
  .profileimg {
    width: 170px;
    height: 170px;
    box-shadow: -12px -12px #ea2678;
  }
  .icongroup p {  
    width: 450px;
    font-size: 12px; 
    line-height: 25px;
  }
  .icon img {
    margin-top: 40px;
  }
}
